@import 'https://fonts.cdnfonts.com/css/cera-round-pro';

* {-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:#fff;
	box-sizing:content-box;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out}
	
	html
	{margin:0 auto}
	
	body{
		background-color:#000;
		background-image: url('back.png');
		margin-left:2vw}
	
	img{width:60px;height:60px;
		border-radius:50%;
		margin-right:25px;
		margin-top:10px}

	h1{font-weight:700;
		font-size:4em;
		margin-bottom:0;
		margin-top:0}

	header{margin-top:25vh;
		display:flex;
		flex-direction:row;
		align-items:center}

	main{width:100%;
		display:flex;
		flex-direction:row}

	h2{font-size:1.7em}.list{margin-top:5vh;
		font-size:1.1em;
		font-weight:400;
		width:33%}

	a{text-decoration:none;
	font-size: 40px;
	font-family: comic sans ms;
	}

	a:hover{color:#53b6df;
		font-size:3em;
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		-ms-transition:all .2s ease-in-out;
		-o-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out}

		footer{margin-top:20vh;display:center;
			flex-direction:row;width:100%;
			align-items:flex-start}.link{margin-right:1vw;
			font-size:.9em}@media(max-width:440px)

			{main{flex-direction:column}

				header{margin-top:3vh;
					justify-content:center}

					footer{margin-top:7vh}.list{margin-top:3vh;
						width:100%}}@media(max-width:400px)

						{h1{font-size:3em}

							img{width:50px;height:50px;
								margin-right:15px}}

								h1 {
font-family: Comic Sans MS;
									
								}

								
								h2 {
									font-family: Comic Sans MS;
									color: #53b6df;
									font-size: 32px;
																		
																	}

																	p {
																		font-size: 24px;
																		font-family: Arial, Helvetica, sans-serif;
																	}

																	h3 {
																		font-size: 25px;
																		font-family: Arial, Helvetica, sans-serif;
																											
																										}
																										span {
																											font-size: 14px;
																											font-family: monospace;
																											color: #525252
																										}						
																											